<div class="form-container">

  <div class="form-text">
    <div class="icon-text"></div>
    Add a new task
  </div>
  <form action="/tasks/add" method="POST" class="form-create-task">

    <input
      type="text"
      name="title"
      placeholder="Add a title"
      id="title"
      class="form-title"
    />

    <textarea
      name="description"
      placeholder="Add a description"
      id="description"
      class="form-description"
    ></textarea>

    <button class="form-button">New Task</button>

  </form>
</div>